<%= simple_form_for task, html: { class: 'form-horizontal' }, defaults: { input_html: { class: 'text_field input-xlarge' } } do |f| %>
  <%= f.error_notification %>
  <%= display_base_errors task %>
  <%= f.input :storie, as: :text,  placeholder: "As a ... I want .... So I will be able to..." %>
  <%= f.input :hours, placeholder: "Hours" %>
  <%= f.input :status, placeholder: "Status", prompt: "Select Status", collection: Task::STATUSES %>
  <%= f.input :priority, collection: 1..5, prompt: "Select Priority" %>
  <%= f.association :sprint, collection: sprints, prompt: "Select Sprint" %>
  <%= f.association :users, collection: users, as: :check_boxes %>
  <div class="form-actions">
    <%= f.button :submit, class: 'btn-primary btn-large' %>
    <%= link_to 'Back',
                tasks_path, class: 'btn btn-large' %>
  </div>
<% end %>
