<div class="span4">
  <div class="card" style="padding: 5% 10% 10%;">
    <h3><%= link_to task.id, edit_task_path(task) %></h3>
    <div class="progress progress-striped active">
      <div class="bar <%= progress(task) %>" style="width: 100%;"></div>
    </div>
    <p><span><%= task.storie %></span></p>
    <p>Hours - <%= task.hours %></p>
    <p>Priority - <%= task.priority %></p>
    <ul class="left nav nav-pills">
      <% task.users.each do |u| %>
        <img src="<%= u.gravatar_url %>" />
      <% end %>
    </ul>
    <span class="right"><%= link_to content_tag('span', 'X', class: 'badge badge-important'),
      task,
      confirm: "Are you sure you want to delete '#{task.id}'?",
      method: :delete %></span>
  </div>
</div>
