<div class="page-header">
  <h1 class="muted">
    Tasks
  </h1>
</div>
<%= render 'actions' %>

<%= will_paginate @tasks %>
<%= render 'cards' %>
<%= will_paginate @tasks %>

<%= render 'actions' %>


