<%- model_class = Task -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

<div class="progress">
  <div id="done" class="bar bar-info" style="width: 35%;"><p>Done</p></div>      
  <div id="ongoing" class="bar bar-warning" style="width: 20%;">Ongoing</div>
  <div id="todo" class="bar bar-danger" style="width: 10%;">Todo</div>
</div>

<table class="datatable table table-striped table-bordered table-condensed">  
  <thead>
    <tr>
      <th>#Id</th>      
      <th>Priority</th>
      <th>Hours</th>
      <th>Status</th>
      <th>Sprint</th>
      <th>Registered</th>   
      <th>Actions</th>   
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= link_to task.id, task_path(task) %></td>        
        <td><%= task.priority %></td>
        <td><%= task.hours %></td>
        <% if task.status == 'TODO' %>    
          <td><span class="label label-important"><%= task.status %></span></td>
        <% end %>        
        <% if task.status == 'ONGOING' %>    
          <td><span class="label label-warning"><%= task.status %></span></td>
        <% end %>
        <% if task.status == 'DONE' %>    
          <td><span class="label label-info"><%= task.status %></span></td>
        <% end %>
        <td><%= task.sprint.name %></td>
        <td><%=l task.created_at.to_date %></td>
        <td>          
          <%= link_to content_tag('i', '', class: 'icon-edit'), edit_task_path(task), :id => 'edit-tooltip', :title => 'edit' %>
          <%= link_to content_tag('i', '', class: 'icon-trash '), task, :id => 'del-tooltip', :title => 'delete', confirm: "Are you sure you want to delete '#{task.id}'?", method: :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @tasks.size > 0 %>
  <p>
    Download:
    <%= link_to "CSV", tasks_path(format: "csv") %> |
    <%= link_to "Excel", tasks_path(format: "xls") %>
  </p>
<% end %>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_task_path,
            :class => 'btn btn-primary' %>
