<%- model_class = Task -%>
<div class="page-header">
  <h1 class="muted"><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>Storie:</strong></dt>
  <dd><%= @task.storie %></dd>
  <dt><strong>Priority:</strong></dt>
  <dd><%= @task.priority %></dd>
  <dt><strong>Hours:</strong></dt>
  <dd><%= @task.hours %></dd>
  <dt><strong>Status:</strong></dt>
  <dd><%= @task.status %></dd>
  <dt><strong>Sprint:</strong></dt>
  <dd><%= @task.sprint.name%></dd>
  <dt><strong>Project:</strong></dt>
  <dd><%= @task.sprint.project.name %></dd>
  <dt><strong>Members:</strong></dt>
  <dd>
    <ul class="nav nav-pills">
      <% @task.users.each do |u| %>
        <li><a href="javascript:void(0);"><img id="tooltip-bottom" class="avatar-2" title="<%= u.name %> - <%= u.email %>" src="<%= u.avatar_url %>" /></a></li>
      <% end %>
    </ul>
  </dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              tasks_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_task_path(@task), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              task_path(@task),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
