<%- model_class = User -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="datatable table table-striped table-bordered table-condensed">  
  <thead>
    <tr>      
      <th>Avatar</th>            
      <th>Name</th>
      <th>Email</th>            
      <th>Registered</th>
      <th>Role</th>
      <th>Actions</th>      
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>    
      <tr>        
        <td>
          <img src="<%= user.avatar_url %>">                
        </td>
        <td><%= link_to user.name, user %></td>    
        <td><%= user.email %></td>
        <td><%= user.created_at.to_date %></td>
        <td><%= user.roles.first.name.titleize unless user.roles.first.nil? %></td>
        <td>
          <% if current_user.has_role? :admin %>    
            <a id="modal" data-toggle="modal" href="#role-options-<%= user.id %>" class="icon-th-large" title="change role"></a>
            <%= render user %>
          <% end %>                    
          <%= link_to content_tag('i', '', class: 'icon-edit'), edit_user_path(user), :id => 'edit-tooltip', :title => 'edit' %>
          <%= link_to content_tag('i', '', class: 'icon-trash '), user, :id => 'del-tooltip', :title => 'delete', confirm: "Are you sure you want to delete '#{user.name}'?", method: :delete  %>                    
        </td>
      </tr>
    <% end %>
  </tbody>
</table>    

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_user_path,
            :class => 'btn btn-primary' %>
