<script type="text/javascript">        
  $(function(){ 
    $('#content').removeClass('content')
  });
</script>

<% if !user_signed_in? %>    
<div class="container">  
  <div class="marketing">
    <h1>Introducing Agile2Go.</h1>
      <p class="marketing-byline">Need reasons to love Agile2Go? Look no further.</p>
        <div class="row-fluid">
          <div class="span6">
            <a href="https://github.com/rafaeljesus/agile.git" target="_blank">
              <img class="marketing-img" src="assets/github-gravatar-420.png">
            </a>
            <h2>By developers, for developers.</h2>
            <p>Built at IBTA by 
              <a href="http://twitter.com/@_de_jesus" target="_blank">@_de_jesus</a>,
              <a href="http://twitter.com/veloso_barbara" target="_blank">@veloso_barbara</a> and
              <a href="http://twitter.com/fat" target="_blank">@silas</a>,
              using the most advanced web tools as 
              <a href="http://html5demos.com/" target="_blank">HTML5</a>,
              <a href="http://rubyonrails.org/" target="_blank">Ruby on Rails</a>,
              <a href="https://github.com/plataformatec/devise" target="_blank">Devise</a>,
              <a href="http://twitter.github.io/bootstrap/index.html" target="_blank">Twitter Bootstrap</a>,
              <a href="http://www.highcharts.com/" target="_blank">Highcharts</a>,
              is managed through <a href="http://github.com" target="_blank">GitHub</a>
              and deployed on PASS <a href="https://www.heroku.com/" target="_blank">Heroku</a>.</p>
          </div>
          <div class="span6">
            <img class="marketing-img" src="assets/bs-docs-responsive-illustrations.png">
            <h2>Made for everyone.</h2>
            <p>Agile2Go was made to not only look and behave great in the latest desktop browsers (as well as IE7!), but in tablet and smartphone browsers via <a href="./scaffolding.html#responsive" target="_blank">responsive CSS</a> as well.</p>
          </div>              
        </div>          
      </div>
    </div>
  </div>          
<% else %>   

<br />
<div class="row-fluid">
  <div id="chart" style="width:100%; height:400px;"></div>
    <script type="text/javascript">        
      $(function(){ 
        $('#content').removeClass('content')
          $('#chart').highcharts({
            chart: {
              type: 'bar'
            },
            title: {
              text: 'Dashboard'
            },
            xAxis: {
              categories: [ <% @projects.map do |p| %> '<%= p.name %>', <% end %> ]
            },
            yAxis: {
              title: {
                  text: 'Qtd'
              }
            },
            plotOptions: {
                series: {
                    stacking: 'normal'
                }
            },
            series: [                         
            <% @tasks.map do |t| %>                        
            {
              name: '<%= t.status %>',                
              data: <%= raw qtd_by(t.status , @projects) %>
            },                         
              <% end %>                              
              ]            
          });        
      });    
    </script>
  </div>
<br />
<br />
    <% @projects.each do |project| %>        
      <div class="span3">
        <div class="card">
          <h3>            
            <a style="color: white; important!" href="<%= projects_path %>"><%= project.name %></a>
          </h3>                
          <p><span>Current Sprint: <%= project.sprints.last.name %></span></p>
        </div>
        <br />
      </div>  
    <% end %>   
</div>           
<hr />
<% end %>  


    