<% if @sprints.empty? %>
  <h2 class="muted">No Resuls Found</h2>
<% end -%>

<div class="row">
  <% @sprints.each do |sprint| %>
    <div class="span4">
      <div class="card" style="padding: 5% 10% 12%;">
        <h3><%= link_to sprint.name, edit_sprint_path(sprint) %></h3>
        <h5 class="muted"><%= sprint.project_name %></h5>
        <hr />
        <p class="left"><span><%= sprint.goal %></span></p>
        <p>Deadline - <span><%= sprint.end_date %> </span></p>
        <p>Daily - <span><%= sprint.daily_scrum %> </span></p>
        <span class="right"><%= link_to content_tag('span', 'X', class: 'badge badge-important'),
          sprint,
          confirm: "Are you sure you want to delete '#{sprint.name}'?",
          method: :delete %></span>
      </div>
    </div>
  <% end %>
</div>
