<%= simple_form_for sprint, html: { class: 'form-horizontal' }, defaults: { input_html: { class: 'text_field input-xlarge' } } do |f| %>
  <%= f.error_notification %>
  <%= display_base_errors sprint %>
  <%= f.input :name, placeholder: 'Sprint Name'  %>
  <%= f.input :start_date, placeholder: 'Start Date', 'data-behaviour' => 'datepicker', class: 'date' %>
  <%= f.input :end_date, placeholder: "End Date", 'data-behaviour' => 'datepicker', class: 'date' %>
  <%= f.input :daily_scrum, placeholder: "Daily Scrum" %>
  <%= f.input :goal, as: :text, placeholder: "Goal of the Sprint" %>
  <%= f.association :project, prompt: "Select Project", collection: Project.ordered %>
  <div class="form-actions">
    <%= f.button :submit, class: 'btn-primary btn-large' %>
    <%= link_to t('.cancel',
                default: t("helpers.links.cancel")),
                sprints_path,
                class: 'btn btn-large' %>
  </div>
<% end %>
