<%= link_to 'Create new Sprint',
    new_sprint_path,
    class: 'btn btn-primary btn-large btn-center' %>

<%= link_to content_tag('i', '.csv', class: 'icon-download-alt'),
  sprints_path(format: 'csv'),
  title: 'export to .csv',
  class: 'ttip-bottom'%>

<%= link_to content_tag('i', '.xls', class: 'icon-download-alt'),
  sprints_path(format: 'xls'),
  title: 'export to .xls',
  class: 'ttip-right' %>

<hr />

<div class='row'>
  <%= render 'sprints/search' %>
</div>

<div id="sprints">
  <%= render 'sprints/dash' %>
</div>
