<%= link_to 'Create new Project',
    new_project_path,
    class: 'btn btn-primary btn-large btn-center' %>

<%= link_to content_tag('i', '.csv', class: 'icon-download-alt'),
  projects_path(format: 'csv'),
  title: 'export to .csv',
  class: 'ttip-bottom'%>

<%= link_to content_tag('i', '.xls', class: 'icon-download-alt'),
  projects_path(format: 'xls'),
  title: 'export to .xls',
  class: 'ttip-right' %>

<hr />

<div class="row">
  <%= render 'projects/search'  %>
</div>

<%= render 'projects/dash' %>

