<div class="page-header">
  <h1 class="muted">Projects</h1>
</div>

<%= link_to 'Create new Project',
    new_project_path,
    class: 'btn btn-primary btn-large btn-center' %>

<div class="row">
  <% @projects.each do |project| %>
    <div class="span4">
      <div class="card-project">
        <h3>
          <%= link_to project.name, project_path(project) %>
        </h3>
        <hr />
        <p class="left"><span><%= project.description %> </span></p>
        <p class="left"><span><%= project.company %> - <%=l project.created_at.to_date %> </span></p>
        <span class="right"><%= link_to content_tag('span', 'remove', class: 'label label-important'),
          project,
          confirm: "Are you sure you want to delete '#{project.name}'?",
          method: :delete %></span>
      </div>
    </div>
  <% end  %>
</div>

