<%- model_class = Project -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>      
      <th>Name</th>
      <th>Description</th>
      <th>Company</th>
      <th>Registered</th>      
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr>        
        <td><%= link_to project.name, project_path(project) %></td>
        <td><%= project.description %></td>
        <td><%= project.company %></td>
        <td><%=l project.created_at.to_date %></td>
        <td>
          <%= link_to content_tag('i', '', class: 'icon-edit'), edit_project_path(project) %>
          <%= link_to content_tag('i', '', class: 'icon-trash '), project, confirm: "Are you sure you want to delete '#{project.id}'?", method: :delete  %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate %>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_project_path,
            :class => 'btn btn-primary' %>
