<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "agile2go" %></title>
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"
      type="text/javascript"></script> 
    <![endif]-->    
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= yield(:head) %>
  </head>
  <body>
    <div class="navbar navbar-fixed-top navbar-inverse">
      <nav class="navbar-inner">
        <div class="container">          
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <%= render 'layouts/navigation' %>          
        </div>
      </nav>
    </div>
    <div id="main" role="main">
      <div class="container">   
	     <div class="content">              
          <div class="row">
            <div class="span12">
              <%= render 'layouts/messages' %>
              <%= yield %>
            </div>
	        </div>                    
        </div>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->        
    <!-- <div id="copyright">
      <div class="row">               
        <div class="left">
          <p>Site content © 2013 RJesus, inc.</p>
        </div>         
      </div>
    </div> -->

  </body>
</html>
